/* Date selection part */

.windowDiv {
  position: absolute;
  background-color: #e59500;
  top: 25%;
  left: 69%;
  width: 20vw;
  height: 35vh;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  user-select: none;
}

.calendarDiv {
  position: relative;
  background-color: #f0b13d;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  width: 17vw;
  height: 28vh;
  border-radius: 7px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  overflow-y: auto;
  overflow-x: hidden;
}

.mainCalendar-Div-hidden {
  display: none;
}

.calendarTable > tr,
.calendarTable > tr > td {
  font-family: Montserrat;
  color: white;
}

.weekend-day {
  color: red;
}

.calendarTable > tr > td:hover {
  color: yellow;
  transition: 0.2s;
  background-color: rgb(35, 35, 180);
  border: none;
  border-radius: 5px;
}

.calendar-Cell.selected {
  color: yellow;
  background-color: rgb(75, 11, 153);
  border: none;
  border-radius: 5px;
}

table {
  width: 100%;
}

th.day-of-week {
  width: 14.28%;
  position: sticky;
  top: 0;
  height: 14.28%;
}

.topperCalenDiv {
  position: sticky;
  top: 0;
  width: 17vw;
  height: 5vh;
  border-radius: 7px 7px 0 0;
  background-color: #695228;
}

.mainCalenDiv {
  position: relative;
  display: grid;
  width: 17vw;
  height: 23vh;
  border-radius: 0 0 7px 7px;
  background-color: #483209;
}

.leftDivIntopper,
.mainDivInTopper,
.rightDivInTopper {
  height: 5vh; /* Adjust as needed */
  background-color: #695228;
  display: inline-block;
  justify-content: center;
  vertical-align: top;
}

.leftDivIntopper:hover,
.mainDivInTopper:hover,
.rightDivInTopper:hover {
  background-color: #716041;
}

.mainDivInTopper {
  width: 13vw;
  text-align: center;
  position: relative;
  font-family: Montserrat;
  color: white;
}

.mainDivInTopper::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.leftDivIntopper {
  border-radius: 7px 0 0 7px;
  width: 2vw;
  text-align: center;
  font-size: 1.5rem;
  color: #e59500;
}

.leftDivIntopper::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.rightDivInTopper {
  border-radius: 0 7px 7px 0;
  width: 2vw;
  text-align: center;
  font-size: 1.5rem;
  color: #e59500;
}

.rightDivInTopper::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.year-Div {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e59500;
  color: white;
  padding: 10px;
  transition: 0.2s;
}

.year-Div:hover {
  background-color: #ac750f;
  color: yellow;
}

.year-Divs-visible .year-Div {
  display: flex;
}

.cell-with-month {
  background-color: #ebae3c;
  color: white;
  transition: 0.2s;
}

.cell-with-month:hover {
  background-color: #ac750f;
  color: yellow;
}

.inputDate {
  display: none;
}

.selectDateButton {
  margin-top: 3.5%;
  margin-left: 65%;

  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f3b23a;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
  font-family: Montserrat;
  font-size: 0.8rem;
}

.selectDateButton:hover {
  background-color: #fdcb6e;
}

#addDateButton {
  position: relative;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f3b23a;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
  font-family: Montserrat;
  font-size: 0.8rem;
}

#addDateButton:hover {
  background-color: #e59500;
}

/* Custom selector part */

.select + select {
  display: none;
}

.select {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  padding: 10px;
  box-shadow: 1px 1px 15px #000;
  border: 1px dashed #ccc;
}
.select > * {
  width: 100%;
}
.select > .display {
  order: -2;
  background-color: transparent;
  outline: none;
  padding: 15px 5px;
  border: 1px solid #000;
}
.select > .option {
  padding: 5px;
  border-bottom: 1px dashed #e59500;
}

.select > .option:hover {
  transition: 0.3s;
  background-color: #f0b13d;
}

.select > .option.checked {
  order: -1;
}
.select > .option.checked::after {
  content: 'x';
  float: right;
}

.option-visibility {
  display: block;
}

.checked {
  background-color: #f4b43e;
}

/* Container for notes */

.container {
  position: relative;
  margin: 15px 32%;
  width: 64vw;
  height: 90vh;
  max-height: fit-content;
  background-color: antiquewhite;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

/* Imput form */

form input[type='text'] {
  width: 80%;
  padding: 10px;
  margin: 5px 0;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.inputForm {
  position: absolute;
  max-width: 25vw;
  min-width: 25vw;
  max-height: 95vh;
  min-height: 90vh;
  background-color: rgb(255, 241, 146);
  top: 2.5%;
  left: 2%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

#noteSubmit {
  position: relative;
  padding: 10px;
  margin-top: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  border: none;
  border-radius: 5px;
  background-color: #f3b23a;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-family: Montserrat;
  font-size: 1.2rem;
}

#noteSubmit:hover {
  background-color: #e59500;
}

.inputForm h1 {
  font-family: 'Montserrat', sans-serif;
}

/* Main table */

#activeNotesHeader {
  position: relative;
  top: 2%;
  left: 5%;
  font-family: Montserrat, sans-serif;
  font-size: 1.5rem;
}

.notes {
  position: relative;
  overflow-y: auto;
  overflow-x: auto;
  top: -7%;
  margin: 20px;
  max-width: 60vw;
  height: 47vh;
  background-color: rgb(252, 203, 138);
  border: 2px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  font-family: 'Montserrat', sans-serif;
}

#tr-note {
  border: 2px solid rgb(224, 224, 224);
}

#theadActive th {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  width: calc(100% / 6);
}

.notes table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

td {
  text-align: center;
}

.notes th,
.notes td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.notes th {
  background-color: #f3b23a;
  color: #fff;
}

.notes tr:hover {
  background-color: #ffb429;
}

/* Archive table */

#archivedNotesHeader {
  position: relative;
  top: 56%;
  left: 5%;
  font-family: Montserrat, sans-serif;
  font-size: 1.5rem;
}

.archive {
  position: relative;
  overflow-y: auto;
  overflow-x: auto;
  top: -1.5%;
  margin: 20px;
  max-width: 60vw;
  height: 20vh;
  background-color: rgb(252, 203, 138);
  border: 2px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  font-family: 'Montserrat', sans-serif;
}

#theadArchive th {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  width: calc(100% / 6);
}

.archive table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.archive th,
.archive td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.archive th {
  background-color: #f3b23a;
  color: #fff;
}

.archive tr:hover {
  background-color: #ffb429;
}
